{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mystudies.com</title>
    <link rel="stylesheet" href="{% static 'mainprojectapp/blog.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body>
   <!-- Navigation bar -->
   <nav>
    <img src="{% static 'mainprojectapp/logo.png' %}" alt="logo"><a href="/"></a>
    <div class="navigation">
       <ul>
          <li><a href="/">home</a></li>
          <!----------------------------------->
          <li><a href="#">CSE<i class="fas fa-caret-down"></i></a>
          <ul>
             <li><a href="/blog">blog<a></li>
             <li><a href="/blog1">blog1</a></li>
             <li><a href="/blog2">blog2</a></li>
          </ul>
          </li>
          <!------------------------------------>
          <li><a href="#">ESE<i class="fas fa-caret-down"></i></a>
             <ul>
                <li><a href="/blog3">blog3<a></li>
                <li><a href="/blog4">blog4</a></li>
                <li><a href="/blog5">blog5</a></li>
             </ul>
             </li>
             <!---------------------------------->
             <li><a href="#">CHE<i class="fas fa-caret-down"></i></a>
                <ul>
                   <li><a href="/blog6">blog6<a></li>
                   <li><a href="/blog7">blog7</a></li>
                   <li><a href="/blog8">blog8</a></li>
                </ul>
                </li>
             
                <li><a href="#">BTE<i class="fas fa-caret-down"></i></a>
                   <ul>
                      <li><a href="/blog9">blog9<a></li>
                      <li><a href="/blog10">blog10</a></li>
                      <li><a href="/blog11">blog11</a></li>
                   </ul>
                   </li>
             
       </ul>
    </div>
    {% if user.is_authenticated %}

    <div style = "margin-left: 400px;">
    {{user.username}}
    </div>
    <div class="logout-container" style = "Display:flex;">
          
       <button type="submit" class="logout"><a href='/logout'>Logout</a></button><!--logout-->
   </div>
    {% else %}
    <div class="login-container">
         <button type="button" class="signup"><a href ='/signup'>Signup</a></button><!--signup-->
         <button type="submit" class="login"><a href='/login'>Login</a></button><!--login-->         
     </div>
    {% endif %} 
 </nav>

{% comment %} navbar end {% endcomment %}

    <div class="page">
        <div class="social">
            <h2 style="font-family:montserret ; border-bottom: 2px solid black;">Share</h2>
            <a href="https://facebook.com"><img src="{% static 'mainprojectapp/facebook.png' %}" alt=""></a>
            <a href="https://instagram.com"><img src="{% static 'mainprojectapp/instagram.png' %}" alt=""></a>
            <a href="https://twitter.com"><img src="{% static 'mainprojectapp/twitter.png' %}" alt=""></a>


            <p class="what">
            <h1
                style="text-decoration: underline; color: green; letter-spacing: .2rem; text-transform: uppercase; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                What's&nbspNew</h1>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog1" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog4" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog6" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
        </div>


        <!-- blog start-->

        <div class="blog">
            <center>
                <div class="heading">
                    <p>
                    <h1
                        style="text-decoration: underline; margin-bottom: 20px; text-transform: uppercase; text-shadow: 5px; text-decoration: underline; color: rgb(2, 3, 3); font-family: Georgia, 'Times New Roman', Times, serif;">
                        <em>QUANTUM Computing</em>
                    </h1>
                    </p>
                    <h4 style="text-align:left; margin-left: 100px; margin-bottom: 10px; color: rgb(186, 179, 179);">
                        EDITED ON:- 20-07-2022</h4>
                </div>
            </center>
            <center>
                <div class="para">
                    <img src="#" alt="">
                    <p style="font-size: 20px;"><b>What is Quantum Computer?</b> <br><br>

                        A quantum computer harnesses some of the almost-mystical phenomena of quantum mechanics to
                        deliver huge leaps forward in processing power. Quantum machines promise to outstrip even the
                        most capable of today’s—and tomorrow’s—supercomputers.<br>

                        They won’t wipe out conventional computers, though. Using a classical machine will still be the
                        easiest and most economical solution for tackling most problems.<br> But quantum computers
                        promise
                        to power exciting advances in various fields, from materials science to pharmaceuticals
                        research. Companies are already experimenting with them to develop things like lighter and more
                        powerful batteries for electric cars, and to help create novel drugs.<br>

                        The secret to a quantum computer’s power lies in its ability to generate and manipulate quantum
                        bits, or qubits. <br><br>

                        <img src="{% static 'mainprojectapp/qntm.webp' %}" alt="" style="width: 600px; height:400px; margin-left: 30px;"
                            class="center"><br><br>

                        <b> Quantum computers are built for complexity</b><br><br>
                        Proteins are long strings of amino acids that become useful biological machines when they fold
                        into complex shapes. Figuring out how proteins will fold is a problem with important
                        implications for biology and medicine.<br>

                        A classical supercomputer might try to fold a protein with brute force, leveraging its many
                        processors to check every possible way of bending the chemical chain before arriving at an
                        answer. But as the protein sequences get longer and more complex, the supercomputer stalls. A
                        chain of 100 amino acids could theoretically fold in any one of many trillions of ways. No
                        computer has the working memory to handle all the possible combinations of individual folds.<br>


                        Quantum algorithms take a new approach to these sorts of complex problems -- creating
                        multidimensional spaces where the patterns linking individual data points emerge. Classical
                        computers can not create these computational spaces, so they can not find these patterns. In the
                        case of proteins, there are already early quantum algorithms that can find folding patterns in
                        entirely new, more efficient ways, without the laborious checking procedures of classical
                        computers. As quantum hardware scales and these algorithms advance, they could tackle protein
                        folding problems too complex for any supercomputer.

                        <br><br>
                        <img src="{% static 'mainprojectapp/Q.jpg' %}" alt="" style=" width: 600px; height:400px; margin-left: 30px;" class="center"><br><br>



                    </p>
                    <h2
                        style="margin-top: 50px; margin-right : 150px;text-align: right; letter-spacing: 2px; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-decoration: underline;">
                        Author:- Wood Vox
                    </h2>
                </div>

            </center>
        </div>
    </div>

    <!-- blog ends here -->

    <!-- footer -->
    <footer>
        <div class="footercol">
            <img src="{% static 'mainprojectapp/tlogo.png' %}" alt="logo">
          </div>
          <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="copyright">copyright &copy All rights reserved</div>
            <div class="slinks">
              <a href="https://twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="https://linkedin.com"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
          </div>
     </footer>


</body>

</html>