{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mystudies.com</title>
    <link rel="stylesheet" href="{% static 'mainprojectapp/blog.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body>
   <!-- Navigation bar -->
   <nav>
    <img src="{% static 'mainprojectapp/logo.png' %}" alt="logo"><a href="/"></a>
    <div class="navigation">
       <ul>
          <li><a href="/">home</a></li>
          <!----------------------------------->
          <li><a href="#">CSE<i class="fas fa-caret-down"></i></a>
          <ul>
             <li><a href="/blog">blog<a></li>
             <li><a href="/blog1">blog1</a></li>
             <li><a href="/blog2">blog2</a></li>
          </ul>
          </li>
          <!------------------------------------>
          <li><a href="#">ESE<i class="fas fa-caret-down"></i></a>
             <ul>
                <li><a href="/blog3">blog3<a></li>
                <li><a href="/blog4">blog4</a></li>
                <li><a href="/blog5">blog5</a></li>
             </ul>
             </li>
             <!---------------------------------->
             <li><a href="#">CHE<i class="fas fa-caret-down"></i></a>
                <ul>
                   <li><a href="/blog6">blog6<a></li>
                   <li><a href="/blog7">blog7</a></li>
                   <li><a href="/blog8">blog8</a></li>
                </ul>
                </li>
             
                <li><a href="#">BTE<i class="fas fa-caret-down"></i></a>
                   <ul>
                      <li><a href="/blog9">blog9<a></li>
                      <li><a href="/blog10">blog10</a></li>
                      <li><a href="/blog11">blog11</a></li>
                   </ul>
                   </li>
             
       </ul>
    </div>
    {% if user.is_authenticated %}

    <div style = "margin-left: 400px;">
    {{user.username}}
    </div>
    <div class="logout-container" style = "Display:flex;">
          
       <button type="submit" class="logout"><a href='/logout'>Logout</a></button><!--logout-->
   </div>
    {% else %}
    <div class="login-container">
         <button type="button" class="signup"><a href ='/signup'>Signup</a></button><!--signup-->
         <button type="submit" class="login"><a href='/login'>Login</a></button><!--login-->         
     </div>
    {% endif %} 
 </nav>

{% comment %} navbar end {% endcomment %}

    <div class="page">
        <div class="social">
            <h2 style="font-family:montserret ; border-bottom: 2px solid black;">Share</h2>
            <a href="https://facebook.com"><img src="{% static 'mainprojectapp/facebook.png' %}" alt=""></a>
            <a href="https://instagram.com"><img src="{% static 'mainprojectapp/instagram.png' %}" alt=""></a>
            <a href="https://twitter.com"><img src="{% static 'mainprojectapp/twitter.png' %}" alt=""></a>


            <p class="what">
            <h1
                style="text-decoration: underline; color: green; letter-spacing: .2rem; text-transform: uppercase; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                What's&nbspNew</h1>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog1" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog4" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
            <p style="margin-top:10px; ">
            <h3 style="border-bottom: 1px solid grey;">ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                rem?<br>... <a href="/blog6" style="color: rgb(167, 165, 165); font-family: raleway;">Read more</a></h3>
            </p>
        </div>


        <!-- blog start-->

        <div class="blog">
            <center>
                <div class="heading">
                    <p>
                    <h1
                        style="text-decoration: underline; margin-bottom: 20px; text-transform: uppercase; text-shadow: 5px; text-decoration: underline; color: rgb(2, 3, 3); font-family: Georgia, 'Times New Roman', Times, serif;">
                        <em>VIRTUAL REALITY</em>
                    </h1>
                    </p>
                    <h4 style="text-align:left; margin-left: 100px; margin-bottom: 10px; color: rgb(186, 179, 179);">
                        EDITED ON:- 22-07-2022</h4>
                </div>
            </center>
            <center>
                <div class="para">
                    <img src="#" alt="">
                    <p style="font-size: 20px;"><b>What is VR?</b> <br><br>
                        The definition of virtual reality comes, naturally, from the definitions for both virtual and <br>
                        reality. The definition of virtual is near and reality is what we experience as human
                        beings. So the term virtual reality basically <br> means near-reality. This could, of course,
                        mean anything but it usually refers to a specific type of reality emulation.<br>

                        We know the world through our senses and perception systems. In school we all learned that we
                        have five senses: taste, touch, <br> smell, sight and hearing. These are however only our most
                        obvious sense organs. The truth is that humans have many<br> more senses than this, such as a sense
                        of balance for example. These other sensory inputs, plus some special processing of <br>sensory
                        information by our brains ensures that we have a rich flow of information from the environment
                        to our minds.<br>

                        Everything that we know about our reality comes by way of our senses. In other words, our entire
                        experience of reality is simply a combination of sensory information and our brains sense-making
                        mechanisms for that information. It stands to reason then, that if you can present your senses
                        with made-up information, your perception of reality would also change in response to it. You
                        would be presented with a version of reality that is not really there, but from your perspective
                        it would be perceived as real. Something we would refer to as a virtual reality. <br><br>

                        <img src="{% static 'mainprojectapp/vr.jpg' %}" alt="" style="width: 600px; height:400px; margin-left: 30px;"
                            class="center"><br><br>

                        <b> Application of VR</b><br><br>

                        This may seems like a lot of effort, and it is! What makes the development of virtual reality
                        worthwhile? The potential entertainment value is clear. Immersive films and video games are good
                        examples. The entertainment industry is after all a multi-billion dollar one and consumers are
                        always keen on novelty. Virtual reality has many other, more serious, applications as well.<br>
                        There are a wide variety of applications for virtual reality which include:<br>

                        Architecture<br>Sport<br>Medicine<br>The Arts<br>Entertainment<br><br>
                        <img src="{% static 'mainprojectapp/r.jpg' %}" alt="" style=" width: 600px; height:400px; margin-left: 30px;" class="center"><br><br>



                    </p>
                    <h2
                        style="margin-top: 50px; margin-right : 150px;text-align: right; letter-spacing: 2px; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-decoration: underline;">
                        Author:- Watson Grey
                    </h2>
                </div>

            </center>
        </div>
    </div>

    <!-- blog ends here -->

    <!-- footer -->
    <footer>
        <div class="footercol">
            <img src="{% static 'mainprojectapp/tlogo.png' %}" alt="logo">
          </div>
          <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="footercol">
              <h3>top products</h3>
              <li>management</li>
              <li>tools</li>
              <li>tools</li>
              <li>tools</li>
            </div>
            <div class="copyright">copyright &copy All rights reserved</div>
            <div class="slinks">
              <a href="https://twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="https://linkedin.com"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
          </div>
     </footer>


</body>

</html>