{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mystudies.com</title>
    <link rel="stylesheet" href="{% static 'mainprojectapp/course.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body>
   <!-- Navigation bar -->
   <nav>
    <img src="{% static 'mainprojectapp/logo.png' %}" alt="logo"><a href="/"></a>
    <div class="navigation">
       <ul>
          <li><a href="/">home</a></li>
          <!----------------------------------->
          <li><a href="#">CSE<i class="fas fa-caret-down"></i></a>
          <ul>
             <li><a href="/blog">blog<a></li>
             <li><a href="/blog1">blog1</a></li>
             <li><a href="/blog2">blog2</a></li>
          </ul>
          </li>
          <!------------------------------------>
          <li><a href="#">ESE<i class="fas fa-caret-down"></i></a>
             <ul>
                <li><a href="/blog3">blog3<a></li>
                <li><a href="/blog4">blog4</a></li>
                <li><a href="/blog5">blog5</a></li>
             </ul>
             </li>
             <!---------------------------------->
             <li><a href="#">CHE<i class="fas fa-caret-down"></i></a>
                <ul>
                   <li><a href="/blog6">blog6<a></li>
                   <li><a href="/blog7">blog7</a></li>
                   <li><a href="/blog8">blog8</a></li>
                </ul>
                </li>
             
                <li><a href="#">BTE<i class="fas fa-caret-down"></i></a>
                   <ul>
                      <li><a href="/blog9">blog9<a></li>
                      <li><a href="/blog10">blog10</a></li>
                      <li><a href="/blog11">blog11</a></li>
                   </ul>
                   </li>
             
       </ul>
    </div>
    {% if user.is_authenticated %}

    <div style = "margin-left: 400px;">
    {{user.username}}
    </div>
    <div class="logout-container" style = "Display:flex;">
          
       <button type="submit" class="logout"><a href='/logout'>Logout</a></button><!--logout-->
   </div>
    {% else %}
    <div class="login-container">
         <button type="button" class="signup"><a href ='/signup'>Signup</a></button><!--signup-->
         <button type="submit" class="login"><a href='/login'>Login</a></button><!--login-->         
     </div>
    {% endif %} 
 </nav>

{% comment %} navbar end {% endcomment %}


 <!-- course -->
<!-- course section starts  -->

<section class="course" id="course">

    <h1 class="heading" >Our Articles</h1>    
    
    <div class="box-container">
    
        <div class="box">
            <img src="{% static 'mainprojectapp/5g.jpg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">5g Technology</a>
                <p>What is 5g Technology?<br>In telecommunications, 5G is the fifth-generation...</p>
            </div>
        </div>
    
        <div class="box">
            <img src="{% static 'mainprojectapp/bchain.jpg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Block chain</a>
                <p>What is BLOCKCHAIN?<br> blockchain is a distributed database or ledger...</p>
            </div>
        </div>
    
        <div class="box">
            <img src="{% static 'mainprojectapp/mli.jfif' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Neural Network</a>
                <p>Neural networks, also known as artificial neural networks or simulated neural...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/iot.jpg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">IOT</a>
                <p>What is IOT?<br>The Internet of Things refers physical devices around...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/qntm.webp' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Quantum Computing</a>
                <p>What is Quantum Computer?<br>A quantum computer...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/r.jpg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Virtual Reality</a>
                <p>The definition of virtual reality comes, naturally, from the definitions...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/st.jpg' %}" alt="st.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">What is satellite?<br></a>
                <p>A satellite  is an object intentionally placed into orbit in outer space...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/thing.jpg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Data Mining</a>
                <p>What is Data Mining?<br>The process of extracting information to identify patterns...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/cyberc' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Cyber Security</a>
                <p>What is cybersecurity?<br>A successful cybersecurity has multiple layers of protection...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/mlp.jfif' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Machine Learning</a>
                <p>What is machine learning?<br>Machine learning is a branch of artificial intelligence (AI) and computer...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/edge2.png' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">Edge Computing</a>
                <p>What is Edge Computing?<br>Edge computing is a part of a distributed in which information processing is located...</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'mainprojectapp/art_img.jpeg' %}" alt="cs.jpg">
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">artificial intelligence</a>
                <p>What is Artificial Intelligence?<br>Artificial intelligence (AI) is intelligence demonstrated by machines...</p>
            </div>
        </div>
    
    </div>
    
    </section>
    
    <!-- course section ends -->
    



     <!-- footer start here -->

     <footer>
        <div class="footercol">
          <img src="{% static 'mainprojectapp/tlogo.png' %}" alt="">
        </div>
        <div class="footercol">
            <h3>top products</h3>
            <li>management</li>
            <li>tools</li>
            <li>tools</li>
            <li>tools</li>
          </div>
          <div class="footercol">
            <h3>top products</h3>
            <li>management</li>
            <li>tools</li>
            <li>tools</li>
            <li>tools</li>
          </div>
          <div class="footercol">
            <h3>top products</h3>
            <li>management</li>
            <li>tools</li>
            <li>tools</li>
            <li>tools</li>
          </div>
          <div class="footercol">
            <h3>top products</h3>
            <li>management</li>
            <li>tools</li>
            <li>tools</li>
            <li>tools</li>
          </div>
          <div class="copyright">copyright &copy All rights reserved</div>
          <div class="slinks">
            <a href="https://twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://linkedin.com"><i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
    </footer>
    </body>