{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know More</title>
    <link rel="stylesheet" href="{% static 'mainprojectapp/know_more.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">

            <header>
               <!-- Navigation bar -->
   <nav>
    <img src="{% static 'mainprojectapp/logo.png' %}" alt="logo"><a href="/"></a>
    <div class="navigation">
       <ul>
          <li><a href="/">home</a></li>
          <!----------------------------------->
          <li><a href="#">CSE<i class="fas fa-caret-down"></i></a>
          <ul>
             <li><a href="/blog">blog<a></li>
             <li><a href="/blog1">blog1</a></li>
             <li><a href="/blog2">blog2</a></li>
          </ul>
          </li>
          <!------------------------------------>
          <li><a href="#">ESE<i class="fas fa-caret-down"></i></a>
             <ul>
                <li><a href="/blog3">blog3<a></li>
                <li><a href="/blog4">blog4</a></li>
                <li><a href="/blog5">blog5</a></li>
             </ul>
             </li>
             <!---------------------------------->
             <li><a href="#">CHE<i class="fas fa-caret-down"></i></a>
                <ul>
                   <li><a href="/blog6">blog6<a></li>
                   <li><a href="/blog7">blog7</a></li>
                   <li><a href="/blog8">blog8</a></li>
                </ul>
                </li>
             
                <li><a href="#">BTE<i class="fas fa-caret-down"></i></a>
                   <ul>
                      <li><a href="/blog9">blog9<a></li>
                      <li><a href="/blog10">blog10</a></li>
                      <li><a href="/blog11">blog11</a></li>
                   </ul>
                   </li>
             
       </ul>
    </div>
    {% if user.is_authenticated %}

    <div style = "margin-left: 400px;">
    {{user.username}}
    </div>
    <div class="logout-container" style = "Display:flex;">
          
       <button type="submit" class="logout"><a href='/logout'>Logout</a></button><!--logout-->
   </div>
    {% else %}
    <div class="login-container">
         <button type="button" class="signup"><a href ='/signup'>Signup</a></button><!--signup-->
         <button type="submit" class="login"><a href='/login'>Login</a></button><!--login-->         
     </div>
    {% endif %} 
 </nav>

{% comment %} navbar end {% endcomment %}


            </header>
            <main>

                <div class="wrapper1">

                    <div class="background-container">
                        <div class="bg-1"></div>
                        <div class="bg-2"></div>

                    </div>
                    <div class="about-container">

                        <div class="image-container">
                            <img src="{% static 'mainprojectapp/img one1.jpg' %}" alt="">

                        </div>

                        <div class="text-container">
                            <h1>About us</h1>
                            <p style="border-top: 3px solid black; padding-top: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente corrupti itaque.
                                Minus consequatur ullam ducimus consectetur debitis minima distinctio magni nulla
                                molestiae quaerat modi in ab hic possimus aspernatur neque sequi mollitia, tempora
                                temporibus tempore dolore, reiciendis repellendus veniam repellat! Velit quibusdam
                                maiores nam in consequatur! Consequuntur, vitae ipsum. Dolorum, maiores. Ut architecto
                                eaque autem rerum unde, sunt, molestiae, repudiandae dignissimos nemo rem natus corporis
                                voluptatibus eos quidem modi atque totam quis alias laborum in nulla incidunt. Excepturi
                                impedit dolorem obcaecati autem, ratione quas accusamus iure perferendis possimus
                                incidunt placeat dolore asperiores velit molestias nisi nobis laudantium sunt ipsum?</p>
                        </div>

                    </div>
                </div>


                <div class="wrapper">
                    <h1>Our Team</h1>
                    <div class="our_team">



                        <div class="team_member">
                            <div class="member_img">
                                <img src="{% static 'mainprojectapp/member_1.png' %}" alt="our_team">
                                <div class="social_media">
                                    <a href="https://facebook.com"><div class="facebook item"><i class="fab fa-facebook-f"></i></div></a>
                                    <a href="https://twitter.com"><div class="twitter item"><i class="fab fa-twitter"></i></div></a>
                                    <a href="https://instagram.com"><div class="instagram item"><i class="fab fa-instagram"></i></div></a>
                                </div>
                            </div>
                            <h3>ARPIT NIGAM</h3>
                            <span>CONTRIBUTOR</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error
                                deleniti
                                quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                                voluptatibus cumque.</p>
                        </div>
                        <div class="team_member">
                            <div class="member_img">
                                <img src="{% static 'mainprojectapp/member_2.png' %}" alt="our_team">
                                <div class="social_media">
                                    <a href="https://facebook.com"><div class="facebook item"><i class="fab fa-facebook-f"></i></div></a>
                                    <a href="https://twitter.com"><div class="twitter item"><i class="fab fa-twitter"></i></div></a>
                                    <a href="https://instagram.com"><div class="instagram item"><i class="fab fa-instagram"></i></div></a>
                                </div>
                            </div>
                            <h3>PRAVEEN PANDEY</h3>
                            <span>CONTRIBUTOR</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores temporibus,
                                architecto
                                optio asperiores mollitia pariatur error, quaerat voluptatibus minima eos quo nostrum,
                                maxime
                                necessitatibus.</p>
                        </div>
                        <div class="team_member">
                            <div class="member_img">
                                <img src="{% static 'mainprojectapp/member_3.png' %}" alt="our_team">
                                <div class="social_media">
                                    <a href="https://facebook.com"><div class="facebook item"><i class="fab fa-facebook-f"></i></div></a>
                                    <a href="https://twitter.com"><div class="twitter item"><i class="fab fa-twitter"></i></div></a>
                                    <a href="https://instagram.com"><div class="instagram item"><i class="fab fa-instagram"></i></div></a>
                                </div>
                            </div>
                            <h3>PIYUSH GUPTA</h3>
                            <span>CONTRIBUTOR</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error
                                deleniti
                                quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                                voluptatibus cumque.</p>
                        </div>
                        <div class="team_member">
                            <div class="member_img">
                                <img src="{% static 'mainprojectapp/member_4.png' %}" alt="our_team">
                                <div class="social_media">
                                    <a href="https://facebook.com"><div class="facebook item"><i class="fab fa-facebook-f"></i></div></a>
                                    <a href="https://twitter.com"><div class="twitter item"><i class="fab fa-twitter"></i></div></a>
                                    <a href="https://instagram.com"><div class="instagram item"><i class="fab fa-instagram"></i></div></a>
                                </div>
                            </div>
                            <h3>DIVYAM KATIYAR</h3>
                            <span>CONTRIBUTOR</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error
                                deleniti
                                quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                                voluptatibus cumque.</p>
                        </div>
                    </div>
                </div>

            </main>
        </div>
        <footer>
            <div class="footercol">
                <img src="{% static 'mainprojectapp/tlogo.png' %}" alt="logo">
              </div>
              <div class="footercol">
                  <h3>top products</h3>
                  <li>management</li>
                  <li>tools</li>
                  <li>tools</li>
                  <li>tools</li>
                </div>
                <div class="footercol">
                  <h3>top products</h3>
                  <li>management</li>
                  <li>tools</li>
                  <li>tools</li>
                  <li>tools</li>
                </div>
                <div class="footercol">
                  <h3>top products</h3>
                  <li>management</li>
                  <li>tools</li>
                  <li>tools</li>
                  <li>tools</li>
                </div>
                <div class="footercol">
                  <h3>top products</h3>
                  <li>management</li>
                  <li>tools</li>
                  <li>tools</li>
                  <li>tools</li>
                </div>
                <div class="copyright">copyright &copy All rights reserved</div>
                <div class="slinks">
                  <a href="https://twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
                  <a href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
                  <a href="https://linkedin.com"><i class="fab fa-linkedin-in fa-2x"></i></a>
                </div>
              </div>
         </footer>
    </div>
</body>

</html>