
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  body{
    background-image: white;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
    font-family: sans-serif;*/
    /* padding: 0;
    margin:  0; */
  
  
  }
 /* Navigation */
nav {
  position: fixed;
  width: 100%;
  background-color: rgb(241, 241, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 1vw 2vw 6vw;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav img {
  width: 60px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 16px;
  
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 6px;
  margin-right: 30px;
  float: right;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 50px;
  position: relative;
  display: inline-block;
  
  /* margin-top: 20px; */
}

nav .navigation ul li a {
  display: block;
  line-height: 60px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3 ease;
  padding-right: 14px;
}


nav .navigation ul li a:hover {
  color: rgb(59, 156, 225);
  /* background-color: rgb(110, 244, 110); */
  /* border-radius: 5px; */
  /* background-size: 20px; */
}

nav .navigation ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav .navigation ul li:hover > ul{
  display: block;
  background: rgba(144, 144, 246, 0.907);
  background-size: auto;
  border: 1px solid rgba(144, 144, 246, 0.907);
  border-radius: 5px;
  
}
nav .navigation ul li > ul li a{
  color:white;
  padding-left: 25px;
}

nav .navigation ul ul li{
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}



/* login button*/
nav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
/* nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;} /* adjust as needed (as long as it doesn't break the topnav) */


/* Style the button inside the input container */
nav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .login-container .login{
padding: 10px 23px 10px 23px;
}
nav .login-container .signup{
  padding: 10px 18px 10px 18px;
  }
nav .login-container button:hover {
  background: #ccc;
}

nav .logout-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .logout-container .logout{
padding: 10px 23px 10px 23px;
}
nav .logout-container button:hover {
  background: #ccc;
}
/* navbar end */

/* blog coding */
  
   .page{
    display:flex;
    flex-direction: row;
   }
  
  .blog{
   
    margin: 100px 100px 100px 150px;
    padding-top: 100px;
        }
  
  .para p{
    margin: 0 50px 0 20px;
    padding-left: 10px;
    text-indent: 50px;
    text-align: left; 
    border-left: solid 5px rgba(8, 9, 8, 0.684);
    color: rgba(10, 15, 10, 0.684);
    
  }
  
  /* .para{
    
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: center;
  } */
   
  .social{
    
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 0;
  
  }
  
  .social img
  { 
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  
    /* footer */
  
    footer {
      position:relative;
      padding: 8vw;
      background-color: rgba(154, 127, 245, 0.891);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      bottom:0;
    }
    
    footer .footercol img{
      width: 50%;
      margin-left: 50px;
    }
    
    footer .footercol{
      padding-bottom: 40px;
    }
    
    footer .footercol h3{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: gray;
      font-weight: 600px;
      padding-bottom: 40px;
    }
    
    footer li{
      list-style: none;
      color: black;
      padding: 10px 0;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
    }
    
    footer li:hover{
      color: aqua;
    }
    
    footer .copyright{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      top: 80px;
      position: relative;
      font-size: 20px;
    }
    
    footer .slinks{
      position: relative;
      left: 1000px;
      margin-top: 0;
    }
    
    footer .slinks i{
      color: #fff;
      padding-left: 8px;
    }
    
    footer .slinks i:hover{
      background: rgb(21,21,100);
      color: #fff;
      border: 1px solid rgb(21,21,100);
      border-radius: 2px;
      cursor: pointer;
    }
    
    
    @media screen and (max-width: 1600px){
      .about-container{
          width: 90%;
      }
      .image-container img{
          width: 400px;
          height: 400px;
      }
      .text-container h1{
          font-size: 50px;
      }
  }
  @media screen and (max-width: 1100px){
      .about-container{
          flex-direction: column;
      }
      .image-container img{
          width: 300px;
          height: 300px;
      }
      .text-container {
          align-items: center;
      }
  }